.letter { 
  font-size: x-large; 
  font-family: 'gentium_basicregular', Fallback, sans-serif;
  font-family: 'Gentium Plus', Fallback, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.side {
  height: 100%;
  background-color: #B2FFFF;
}

.sidediv {
  padding-left: 40px;
}

.plus, .minus{
  position: fixed;
  top: .5em;
  left: .5em;
}
