<html ng-app="ipaApp">
  <head>
    <meta charset="utf-8">
    <title>IPA</title>
    <link href="css/styles.css" rel="stylesheet"/> 
    <link type="text/css" href="gentium/stylesheet.css" rel="stylesheet"/> 
    <link type="text/css" href="css/jquery.sidr.dark.css" rel="stylesheet"/>
    <script src="js/angular.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.sidr.min.js"></script>
    <script src="js/sidebar.js"></script>
    <script>
      var ipaApp = angular.module('ipaApp', []);
      ipaApp.controller('IpaCtrl', ['$scope', '$http', function (scope, http){
        http.get('ipa.json').success(function(json) {

          scope.sounds = json;

        });
      }]);
    </script>
  </head>
  <body ng-controller="IpaCtrl">
    <h1>IPA</h1>
    Search:<input ng-model="query" type="text"/>
    <table>
      <tr>
        <th>sound</th>
        <th>name</th>
      </tr>
      <tr ng-repeat=" sound in sounds | filter:query | orderBy:manner">
        <td class=letter><strong>{{sound.letter}}</strong></td>
        <td>{{sound.name}}</td>
      </tr>
    </table>
  
  <!--begin sidebar-->
  <a id="menu" href="#sidr">
    <img id="menuicon" src="img/menu.png"> 
  </a>
  <div id="sidr">
    <div id="menu">
      <h1> the international phonetic alphabet </h1>
      <h2>How To Use This Tool:</h2>
        <p>Just type in a description of the sound or the letter itself!</p>
    <hr>
    <p>
    <h2>Exports</h2>
    <ul id=exports>
      <li><a href=ipa.txt>Tab-delimited text</a>  
      <li><a href=ipa.json>JSON</a>  
    </ul>
    <h2>Credits</h2>
    <ul id=credits>
      <li><a href=https://github.com/amundo/ipa>Github</a> 
      <li><a href=CREDITS.md>Credits</a> 
    </ul>
    
    </div>    
  </div>
  <!--end sidebar-->

  </body>

</html>
